{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UES :: Citas</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{% static 'css/album.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">

    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
  
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> 
    
    <style>
      .bg-dark {
          background-color: #660000!important;
      }
    </style>
  </head>

  <body>

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
        </div>
      </div>
    </header>

    <main role="main">

      <section class="text-center">
        <div class="container">
            <a href="/"><img src="{% static 'logo.png'  %}" width="300px" /></a>
        </div>
      </section>
      {% block content %}
      {% endblock %}
      
      
    </main>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="/admin">Administrador</a>
        </p>
      </div>
    </footer>
   
  </body>


</html>
