{% extends "base2.html" %}

{% load static %}

{% block content %}

<div class="album py-5 bg-light">
        
        
  <div class="container">

    <div class="row">
     
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="citas"><img class="card-img-top" src="{% static 'manos.jpg'  %}"  alt="Card image cap"></a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="citas"><button type="button" class="btn btn-sm btn-outline-secondary">Citas</button></a>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Reporte</button> -->
              </div>
            </div>
          </div>

        </div>
        
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{% static 'calendario.jpg'  %}"  alt="Card image cap">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                {% for aula in aulas %} 
                <a href="aula/{{ aula.id }} "><button type="button" class="btn btn-sm btn-outline-secondary"> {{ aula.nombre }} </button></a> &nbsp; &nbsp;
                {% endfor %}
                
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Reporte</button> -->
              </div>
            </div>
          </div>

        </div>
        
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="reportes"><img class="card-img-top" src="{% static 'reportes.jpg'  %}"  alt="Card image cap"></a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="reportes"><button type="button" class="btn btn-sm btn-outline-secondary">Reportes</button></a>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Reporte</button> -->
              </div>
            </div>
          </div>

        </div>
        
      </div>          


    </div>
  </div>
</div>
{% endblock %}